<div class="form-container">
  <h1>{{title}}</h1>
  <form [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
    <div formGroupName="original">
      <label for="originalCurrency">Original Currency</label>
      <select [(ngModel)]="originalCurrency" id="originalCurrency" name="originalCurrency" formControlName="originalCurrency">
        <option *ngFor="let currency of currencies" [value]="currency['short_code']">{{currency['short_code']}} - {{currency['name']}}</option>
      </select>
      <label for="originalAmount">Original Amount</label>
      <input [(ngModel)]="originalAmount" type="number" id="originalAmount" step="0.01" formControlName="originalAmount">
    </div>
    <div formGroupName="result">
      <label for="resultCurrency">Result Currency</label>
      <select [(ngModel)]="resultCurrency" id="resultCurrency" name="resultCurrency" formControlName="resultCurrency">
        <option *ngFor="let currency of currencies" [value]="currency['short_code']">{{currency['short_code']}} - {{currency['name']}}</option>
      </select>
      <label for="resultAmount">Result Amount</label>
      <input [(ngModel)]="resultAmount" type="number" id="resultAmount" step="0.01" formControlName="resultAmount" readonly>
    </div>
    <button type="submit">Convert</button>
  </form>
</div>